html, body{
    min-height: 100%;
    min-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
  width: 1000px;
  height: 600px;
}

#legend {
    width: 600px;
}

div#tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: fit-content;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

